* {
    box-sizing: border-box;
}


:root {
    --padding: clamp(1rem, 10%, 7rem);
    --header-font-size: clamp(2rem, 7vw, 3rem);
    --logo-blue: #0192c9;
    --background-blue: #0175a1;
    --logo-orange: #f75d33;
    --text-blue: rgb(0, 58, 80);
}


body {
    margin: 0;
    background-color: #fffdfc;
    overflow-x: auto;
    font-family: Montserrat,sans-serif;
}


.page-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem var(--padding) .5rem;
}


.page-description h1 {
    width: fit-content;
    margin: 2rem auto clamp(.5rem, 10vw, 4rem);
    font-size: 3rem;
    flex-basis: 100%;
    text-align: center;
    color: var(--logo-blue);
}

.first-descriptions {
    width: 55%;
    min-width: 12rem;
    margin-right: 5%;
    display: inline-block;
}

.page-description ul {
    display: inline-block;
    list-style: none;
    width: 40%;
    margin: 0;
    padding: 0;
}

.page-description li {
    display: flex;
    align-items: center;
}

.page-description li svg {
    margin-right: .75rem;
    color: var(--logo-blue);
    min-width: 1.5rem;
    min-height: 1.5rem;
}

.page-description li span {
    color: var(--logo-blue);
}

#tool-reinforcement {
    margin: 2rem 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tool-reinforcement p {
    padding: 2rem 1rem;
    color: var(--logo-blue);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 transparent, 0 0 transparent, 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 transparent, 0 0 transparent, 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 20px;
    margin: 2rem var(--padding) 3rem;
    padding: 2rem 1rem 5rem;
}

.range-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.range-inputs > * {
    width: 16rem;
    color: var(--logo-blue);
    font-size: 1.25rem;
}

.range-inputs .sat-score div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.range-inputs .act-score div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

input[type='checkbox'] {
    border: 2px solid blue;
    transform: scale(1.75);
}

.sat-span, .act-span {
    padding: .25rem .75rem;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, .2);
    color: black;
    font-size: 1rem;
}

input[type='range'] {
    width: 16rem;
    appearance: none;
    height: 1.5rem;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    cursor: pointer;
    border-radius: 10px;
    margin: 0;
}
  
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2rem;
    height: 1.5rem;
    background: var(--logo-blue);
    border-radius: 10px;
  }
  
input[type='range']::-moz-range-thumb {
    width: 2rem;
    height: 1.5rem;
    background: var(--logo-blue);
    border-radius: 10px;
  }

.select-inputs {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.select-inputs label {
    position: relative;
    display: inline-block;
    font-size: 1.25rem;
    width: 4rem;
    color: var(--logo-blue);
}

#svg-major {
    position:absolute;
    top: -.75rem;
    left: -3.5rem;
    height: 3rem;
    width: auto;
    /* color: #f75d33; */
}

#svg-map {
    position:absolute;
    top: -.75rem;
    left: -3.25rem;
    height: 2.5rem;
    width: auto;
}

.select-inputs select {
    width: 12rem;
    height: 2rem;
    border-color: var(--logo-blue);
    color: black;
    text-align: center;
    background: url(photos/up.downArrow.svg) no-repeat;
    background-position: 95%; 
    background-size: .75rem;
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
}

fieldset {
    border: none;
    width: 15rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    color: var(--logo-blue);
    font-size: 1.25rem;
}

fieldset div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4rem;
}


input[type='radio'] {
    appearance: none;
    background-repeat: no-repeat;
    background-position: center;
    width: 4rem;
    height: 4rem;
    color: #0192c9;
}

input[type='radio']:hover {
    transform: scale(1.05);
}

input[type='radio'] + label {
    font-size: 1.25rem;
    color: var(--logo-blue);
}

input[type='radio']:checked + label {
    color: var(--text-blue);
}

#unspecified {
    background-size: 2rem;
    background-image: url(photos/unspecified.svg);
}

#unspecified:checked {
    mask-image: url(photos/unspecified.svg);
    -webkit-mask-image: url(photos/unspecified.svg);
    mask-size: 2rem;
    -webkit-mask-size: 2rem;
    background-image: none;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    background-color: var(--text-blue);
}

#male {
    background-image: url(photos/male.svg);
}

#male:checked {
    mask-image: url(photos/male.svg);
    -webkit-mask-image: url(photos/male.svg);
    background-image: none;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    background-color: var(--text-blue);
}

#female {
    background-image: url(photos/female.svg);
}

#female:checked {
    mask-image: url(photos/female.svg);
    -webkit-mask-image: url(photos/female.svg);
    background-image: none;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    background-color: var(--text-blue);
}

#transgender {
    background-image: url(photos/transgender.svg);
}

#transgender:checked {
    mask-image: url(photos/transgender.svg);
    -webkit-mask-image: url(photos/transgender.svg);
    background-image: none;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    background-color: var(--text-blue);
   
}

input[type='radio']:checked {
    transform: scale(1.1);
    background-color: var(--text-blue);
}

.find-button {
    display: block;
    width: 16rem;
    margin: 4rem auto 0;
    font-size: 1.25rem;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 2.5px 2.5px 12px #511f11;
    padding: 1rem;
    background: linear-gradient(90deg, rgba(247,93,51,1) 15%, rgba(245,112,99,1) 100%, rgba(255,134,44,1) 100%);
}

.find-button:hover {
    transform: scale(1.1);
}

.find-button:active {
    transform: scale(.9);
}


.form-results {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cover {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(247,93,51,1) 7%, rgba(247,93,51,1) 100%);
    cursor: pointer;
    z-index: 2;
    overflow-x:auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.form-results ul {
    display: flex;
    gap: 1rem;
    margin: 1.5rem 0;
}

.form-results li a {
    width: 15rem;
    height: 15rem;
    background-color: #e6f4fa;
    color: var(--background-blue);
    font-size: 1.25rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.form-results li a:hover {
    transform: scale(1.1);
}

.form-results img {
    height: 6rem;
    width: 6rem;
}

.reach-schools {
    display: grid;
    text-align: center;
    width: 100%;
    position: relative;
}

.target-schools, .safety-schools {
    margin-top: 3rem;
    position: relative;
}

.reach-schools h1, .target-schools h1, .safety-schools h1 {
    color: var(--logo-blue);
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forward-arrow {
    position: absolute;
    right: 0;
    top: 2.5rem;
    color: var(--logo-blue);
    fill: var(--logo-blue);
}

.back-arrow {
    position: absolute;
    top: 2.5rem;
    color: var(--logo-blue);
    fill: var(--logo-blue);
}

.reach-schools h1 svg, .target-schools h1 svg, .safety-schools svg {
    height: 3rem;
    width: 3rem;
    margin-right: .5rem;
}

.reach-schools ul, .target-schools ul, .safety-schools ul {
    list-style: none;
    padding: 0;
}

.reach-schools li a, .target-schools li a, .safety-schools li a {
    border-radius: 10px;
}

.target-schools {
    text-align: center;
    display: grid;
    width: 100%;
}

.safety-schools {
    text-align: center;
    display: grid;
    width: 100%;
}


/* Navigation Bar & Footer (copy/paste from HomepageMock) */

header {
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem;
    border-bottom: 2px solid var(--logo-blue);
}

header a {
    margin: 1rem .5rem 1rem 2rem;
}

header img {
    height: 3.5rem;
    width: auto;
}

.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.nav-list {
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 100%;
}

ul.nav-list li button, ul.nav-list button span svg {
    fill: var(--logo-blue);
    color: var(--logo-blue);
}

ul.nav-list button span svg {
    display: none;
}

ul.nav-list li:hover svg, ul.nav-list li button:focus svg {
    display: inline;
}

ul.nav-list li {
    padding: 0 .25rem;
    height: 100%;
}

ul.nav-list li button {
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    gap: .25rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ul.nav-list li button:focus {
    background-color: var(--background-blue);
    color: white;
}

ul.nav-list li button:focus .school-rankings-list {
    display: block;
}

ul.nav-list li button:focus svg {
    transform: rotate(.5turn);
}

ul.nav-list button span {
    position: absolute;
    bottom: 5px;
}

ul.nav-list button span svg {
    height: 1rem;
    width: 1rem;
}  

ul.nav-list li:not(.link-list-li):hover{
    background-color: var(--background-blue);
}

ul.nav-list li:not(.link-list-li):hover button {
    color: white;
    cursor: pointer;
}

.sign-and-search {
    margin-left: 1rem;
    display: flex;
}

.hamburger-menu {
    display: none;
    min-height: 1.5rem;
    max-height: 1.5rem;
    min-width: 1.5rem;
    max-width: 1.5rem;
    color: var(--logo-blue);
    fill: var(--logo-blue);
    align-self: center;
}

.sign-in {
    background-color: transparent; 
    border: none;
    color: var(--logo-blue);
    fill: var(--logo-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: none;
    position: absolute;
    width: 16rem;
    top: 5.75rem;
    height: 100vh;
    right: 0;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
    background-color: white;
    z-index: 3;
    border-left: 2px solid var(--logo-orange);
    transform: translateX(15rem);
    transition: all ease 1s;
}

.login-form a {
    margin: 0;
    text-decoration: none;
    color: var(--text-blue);
    background-color: var(--logo-orange);
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form a:first-child {
    color: var(--background-blue);
}

.sign-in:hover, .search:hover {
    /* transform: scale(1.1); */
    cursor: pointer;
}

.open-search {
    display: none;
    transform: scale(.5);
    transition: all ease .5s;
    position: absolute;
    top: 5.75rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 4rem;
    z-index: 3;
    background-color: black;
    justify-content: center;
    align-items: center;
    
}

.open-search input {
    width: 30%;
    height: 2.5rem;
    margin-right: .5rem;
}

.open-search label {
    position: relative;
    right: 29%;
    width: .25rem;
}

.open-search svg {
    height: 1.25rem;
    width: 1.25rem;
}

.search {
    background-color: transparent; 
    border: none;
    color: var(--logo-blue);
    fill: var(--logo-blue);
    width: 5rem;
    
}

.search svg:not(.open-search svg) {
    height: 1.75rem;
    width: auto;
}

.school-rankings-list {
    display: none;
    position: fixed;
    
    left: 0;
    right: 0;
    top: 5rem;
    z-index: 2;
    background-color: var(--background-blue);
    width:100%;
    height: fit-content;
    border-bottom: 2px solid var(--logo-orange);
}

.school-rankings-list .top-bar {
    display: flex;
    color: white;
    justify-content: space-between;
    text-decoration: underline;
    font-style: italic;
    padding: 0 5rem;
}

.school-rankings-list .link-list {
    background-color: white;
    color: var(--text-blue);
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
}

.school-rankings-list .link-list ul {
    list-style: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.school-rankings-list .link-list .link-list-ul .link-list-li {
    color: var(--logo-blue);
    text-align: left;
    line-height: 2rem;
    font-size: .9rem;
}

.school-rankings-list .link-list .link-list-ul .link-list-li:hover {
    color: var(--logo-orange);
    text-decoration: underline;
}

.hamburger-items {
    display: none;
    position: absolute;
    top: 5.75rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    
    flex-direction: column;
    z-index: 3;
    background-color: white;
    color: var(--background-blue);
    padding-left: 3rem;
}

footer {
    background-color: var(--text-blue);
    padding: 4rem var(--padding);
}

footer .top-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 2rem;
}

footer img {
    height: 8rem;
    width: auto;
}

footer ul {
    list-style: none;
    color: white;
    width: 10rem;
    padding: 0;
}

footer li {
    padding: .25rem;
    cursor: pointer;
}

.social-media {
    padding: 3rem 0;
    text-align: center;
}

footer svg {
    height: 2rem;
    width: auto;
    color: white;
    margin: 0 .25rem;
}

footer .copyright {
    color: white;
    text-align: center;
}

@media screen and (max-width: 1023px) {
    .navigation {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }
}

@media screen and (max-width: 585px) {
    
    header {
        padding-left: 0;
    }
    header svg {
        width: 1.5rem;
        height: 1.5rem
    }
    .select-inputs select {
        width: 8rem;
    }
    .first-descriptions {
        width: 100%;
    }
    .page-description ul {
        width: 100%;
    }
}
