* {
    box-sizing: border-box;
}


:root {
    --padding: clamp(1rem, 10%, 7rem);
    --header-font-size: clamp(2rem, 7vw, 3rem);
    --logo-blue: #0192c9;
    --background-blue: #0175a1;
    --logo-orange: #f75d33;
    --text-blue: rgb(0, 58, 80);
}


body {
    margin: 0;
    background-color: #fffdfc;
    overflow-x: auto;
    font-family: Montserrat,sans-serif;
}

p {
    font-size: clamp(1rem, 4vw, 18px);
    line-height: clamp(1.25rem, 4vw, 27px);
}

main {
    margin: 0 auto;
    padding: 0 .85rem;
    width: clamp(20rem, 100%, 50rem);
}

.page-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


.page-description h1 {
    color: #003a50;
    font-size: clamp(1.75rem, 7.5vw, 3rem);
    font-family: "DM Serif Text",serif;
}

.top-images {
    position: relative;
    margin-bottom: clamp(13px, 4vw, 27px);
}

.page-description .inkscape-made {
    height: auto;
    width: clamp(17rem, 100%, 50rem);
}

.page-description .AI-logo {
    position: absolute;
    width: 15%;
    top: 1.5rem;
    right: 1.5rem;
}

.first-descriptions {
    display: inline-block;
}

.page-description ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0 0 0 clamp(.5rem, 3.25vw, 2rem);
}

.page-description li {
    display: flex;
    align-items: center;
}

.page-description li p {
    margin: .25rem 0;
}

.page-description li svg {
    margin-right: .5rem;
    min-width: 9px;
    height: auto;
}

.page-description li span {
    color: #003a50;
    font-weight: 700;
}

h2 {
    font-size: clamp(1.5rem, 7.5vw, 2rem);
    color: #003a50;
    margin: 1rem 0 1.75rem 0;
    font-family: "DM Serif Text",serif;
}


.inputs {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    justify-items: center;
    column-gap: 5%;
    row-gap: .5rem;
    margin-bottom: 27px;
    margin-top: 2rem;
    width: 100%;
    
}

.inputs .under-input {
    width: clamp(12rem, 100%, 40rem);
    margin-bottom: 13.5px;
}

#sats, #acts {
    margin-bottom: 13.5px;
}

label {
    color: #444;
    font-size: clamp(1rem, 3vw ,1.1rem);
    margin-bottom: 6.75px;
    font-stretch: expanded;
    display: block;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    line-height: 23.635px;
    position: relative;
    width: fit-content;
    font-weight: 400;
}

.sat-score div, .act-score div {
    display: flex;
    align-items: center;
    gap: 1rem;
}



#act-on, #sat-on {
    appearance: none;
    width: 1.1rem;
    height: 1.1rem;

    border: .5px solid black;
    cursor: pointer;
    position: absolute;
    right: -1.75rem;
}

#act-on:checked, #sat-on:checked {
    color: #0192c9;
    background-image: url(photos/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1rem;
    background-color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-color: #0192c9;
}

#sat-on:checked + .sat-span, #act-on:checked + .act-span  {
    background-color: white;
    color: #0192c9;
    font-weight: 600;
    border: .5px solid #0192c9;
    margin-left: .25rem;

}

.sat-span, .act-span {
    padding: .25rem .25rem;
    border-radius: 5px;
    background-color: #fff;
    color: black;
    font-size: 1rem;
    font-weight: 300;
}

input[type='range'] {
    width: 100%;
    appearance: none;
    height: 2.5rem;
    background: #fff;
    border: 1px solid #999;
    outline: none;
    opacity: 0.7;
    cursor: pointer;
    border-radius: 5px;
    margin: 0;
}
  
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 2.5rem;
    background-color: #0192c9;
    border-radius: 5px;
}
  
input[type='range']::-moz-range-thumb {
    width: 1rem;
    height: 2.5rem;
    background-color: #0192c9;
    border-radius: 5px;
}

input[type='range']::-webkit-slider-thumb:hover {
    background-color: #014965;
}

select {
    width: 100%;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 350;
    background-position: center right .25rem; 
    background-size: 1.15rem;
    -moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
    padding: 6.75px .5rem;
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #fff;
    background-image: url('photos/downArrow.png');
    background-repeat: no-repeat;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

select:focus {
    outline: 2px solid rgb(140, 204, 228);
    border: none;
}

.form-buttons {
    display: flex;
    justify-content: center;
    padding-bottom: clamp(13px, 3vw, 27px);
    border-bottom: 2px solid #0192c9;
}

.find-button, .clear-form {
    margin: 0 1rem 27px;
}

.find-button {
    display: block;
    width: 190px;
    margin: 0 1rem 27px;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    border: none;
    padding: 6.75px 1rem;
    background-color: #ff8514;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.find-button:hover {
    background-color: #d06122;
}

.clear-form {
    display: block;
    width: 190px;
    margin: 0 1rem 27px;
    font-size: 1rem;
    color: #0192c9;
    font-weight: 600;
    border: 1px solid #0192c9;
    padding: 6.75px 1rem;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    height: fit-content;
    cursor: pointer;
}

.clear-form:hover {
    background-color: #0175a1;
    color: #fff;
}


.form-results {
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.form-results ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    justify-items: center;
    gap: 1rem;
    margin: .5rem 0 2rem;
    width: 100%;
    list-style: none;
    padding: 0 1rem;
}

.form-results ul li {
    width: 14rem;
    padding: 0;
    margin: 0;
    position: relative;
}

.heart-svg {
    position: absolute;
    height: 1.5rem;
    width: auto;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
}

.heart-svg:hover {
    fill: #ff8361;
}

.form-results ul li:last-child {
    grid-column: 2/3;
}

.form-results li a {
    width: 100%;
    height: 15rem;
    background-color: #e6f4fa;
    color: var(--background-blue);
    font-size: 1.1rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    text-align: center;
}

.form-results li a:hover {
    background-color: #8ccce4;
}

.form-results img {
    height: 6rem;
    width: 6rem;
}

.school-inputs {
    appearance: none;
    font-family: "DM Serif Text",serif;
    text-decoration: underline;
    color: #fff;
    background-color: #014965;
    font-size: clamp(1.25rem, 4vw, 1.75rem);
    padding: .8rem 2rem .8rem 1rem;
    text-align: start;
    width: 100%;
    margin: 0 0 clamp(.25rem, 3%, 1.5rem);
    cursor: pointer;
    background-color: #014965;
    background-image: url('photos/newRemove.svg');
    background-repeat: no-repeat;
    background-size: 1.1rem;
    background-position: right 3% center;
}

.school-inputs:checked {
    background-image: url('photos/newAdd.svg');
}

.school-inputs:checked + ul {
    display: none;
}

.reach-input::after {
    content: 'Reach Schools';
}

.target-input::after {
    content: 'Target Schools';
}

.safety-input::after {
    content: 'Safety Schools';
}


.target-schools {
    text-align: center;
    display: grid;
    width: 100%;
}

.safety-schools {
    text-align: center;
    display: grid;
    width: 100%;
}

article {
    background-color: #fff;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
    margin: 1.5rem 0 1.75rem 0;
    width: 100%;
}

.form-results h2 {
    align-self: flex-start;
    margin-bottom: 0;
    margin-top: 0;
}


/* Navigation Bar & Footer (copy/paste from HomepageMock) */

aside {
    width: clamp(18rem, 93%, 75rem);
    margin: 0 auto clamp(3rem, 10vw, 4rem);
}

aside .top-ad-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside h4 {
    margin-bottom: 13.5px;
    color: #003a50;
    font-family: "DM Serif Text",serif;
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
}

aside h4 + a {
    color: #0175a1;
    font-weight: 600;
    margin-bottom: 13.5px;
    text-decoration: none;
}

aside .bottom-ad-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

aside .bottom-ad-div .ad-form {
    border: 1px solid #9bc0cf;
    border-bottom: none;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: clamp(20rem, 100%, 60rem);
}

aside .bottom-ad-div .ad-form div {
    width: max(20rem, 100%);
    padding: .75rem 1rem 0;
    background-color: #fff;
    border: 1px solid #9bc0cf;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex: 1 1 30%;
}

aside label {
    position: absolute;
    font-size: 13px;
    color: rgb(0, 58, 80);
    font-weight: 800;
    font-family: 'Montserrat';
    font-stretch: 100%;
}

aside select {
    appearance: none;
    border: none;
    background: url("photos/Screenshot\ 2022-09-08\ at\ 20.47.24.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1.5rem auto,100%;
    font-size: 1rem;
    padding: 1.5rem 0 1rem;
    font-family: 'Montserrat';
    font-weight: 300;
    color: rgb(0, 58, 80);
    cursor: pointer; 
    min-width: 16.3rem;
}

aside select:focus {
    outline: none;
}

aside button {
    background-color: #f75d33;
    border: none;
    color: #fff;
    transition: background-color ease .5s;
    border-radius: 3px;
    padding: .5rem 1.5rem;
    height: fit-content;
    width: fit-content;
    cursor: pointer;
}

aside button:hover {
    background-color: #d06122;
}

.related-articles {
    margin-bottom: 2.5rem;
}

.related-articles h2 {
    color: #003a50;
    font-family: "DM Serif Text",serif;
    font-size: 1.9rem;
    padding: 0 .5rem;
}

.related-articles ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    row-gap: 1.5rem;
    column-gap: 1rem;
    justify-items: center;
    align-items: center;
    padding: 0;
}

.related-articles li {
    cursor: pointer;
}

.related-articles li a {
    font-size: 13.5px;
    text-decoration:none;
    color: #014965;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.related-articles img {
    width: 12.5rem;
    height: auto;
}

.related-articles li a div {
    width: 12.5rem;
}



/* -----Header and Footer----- */


header {
    display: flex;
    justify-content: space-between;
    padding: 0 .5rem;
    border-bottom: 2px solid var(--logo-blue);
}

header a {
    margin: 1rem .5rem 1rem clamp(.5rem, 1vw, 2rem);
}

header img {
    height: 3.5rem;
    width: auto;
}

.navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.nav-list {
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 100%;
}

ul.nav-list li button, ul.nav-list button span svg {
    fill: var(--logo-blue);
    color: var(--logo-blue);
}

ul.nav-list button span svg {
    display: none;
}

ul.nav-list li:hover svg, ul.nav-list li button:focus svg {
    display: inline;
}

ul.nav-list li {
    padding: 0 .25rem;
    height: 100%;
}

ul.nav-list li button {
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    gap: .25rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ul.nav-list li button:focus {
    background-color: var(--background-blue);
    color: white;
}

ul.nav-list li button:focus .school-rankings-list {
    display: block;
}

ul.nav-list li button:focus svg {
    transform: rotate(.5turn);
}

ul.nav-list button span {
    position: absolute;
    bottom: 5px;
}

ul.nav-list button span svg {
    height: 1rem;
    width: 1rem;
}  

ul.nav-list li:not(.link-list-li):hover{
    background-color: var(--background-blue);
}

ul.nav-list li:not(.link-list-li):hover button {
    color: white;
    cursor: pointer;
}

.sign-and-search {
    margin-left: clamp(.25rem, 1vw, 1rem);
    display: flex;
}

.hamburger-menu {
    display: none;
    min-height: 1.5rem;
    max-height: 1.5rem;
    min-width: 1.5rem;
    max-width: 1.5rem;
    color: var(--logo-blue);
    fill: var(--logo-blue);
    align-self: center;
}

.sign-in {
    background-color: transparent; 
    border: none;
    color: var(--logo-blue);
    fill: var(--logo-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: none;
    position: absolute;
    width: 16rem;
    top: 5.75rem;
    height: 100vh;
    right: 0;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
    background-color: white;
    z-index: 3;
    border-left: 2px solid var(--logo-orange);
    transform: translateX(15rem);
    transition: all ease 1s;
}

.login-form a {
    margin: 0;
    text-decoration: none;
    color: var(--text-blue);
    background-color: var(--logo-orange);
    width: 100%;
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form a:first-child {
    color: var(--background-blue);
}

.sign-in:hover, .search:hover {
    /* transform: scale(1.1); */
    cursor: pointer;
}

.open-search {
    display: none;
    transform: scale(.5);
    transition: all ease .5s;
    position: absolute;
    top: 5.75rem;
    left: 0;
    right: 0;
    width: 100%;
    height: 4rem;
    z-index: 3;
    background-color: black;
    justify-content: center;
    align-items: center;
    
}

.open-search input {
    width: 30%;
    height: 2.5rem;
    margin-right: .5rem;
    position: relative;
}

.open-search label {
    position: relative;
    right: 29%;
    width: .25rem;
}

.open-search svg {
    height: 1.25rem;
    width: 1.25rem;
}

.search {
    background-color: transparent; 
    border: none;
    color: var(--logo-blue);
    fill: var(--logo-blue);
    width: 5rem;
    
}

.search svg:not(.open-search svg) {
    height: 1.75rem;
    width: auto;
}

.school-rankings-list {
    display: none;
    position: fixed;
    
    left: 0;
    right: 0;
    top: 5rem;
    z-index: 2;
    background-color: var(--background-blue);
    width:100%;
    height: fit-content;
    border-bottom: 2px solid var(--logo-orange);
}

.school-rankings-list .top-bar {
    display: flex;
    color: white;
    justify-content: space-between;
    text-decoration: underline;
    font-style: italic;
    padding: 0 5rem;
}

.school-rankings-list .link-list {
    background-color: white;
    color: var(--text-blue);
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
}

.school-rankings-list .link-list ul {
    list-style: none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.school-rankings-list .link-list .link-list-ul .link-list-li {
    color: var(--logo-blue);
    text-align: left;
    line-height: 2rem;
    font-size: .9rem;
}

.school-rankings-list .link-list .link-list-ul .link-list-li:hover {
    color: var(--logo-orange);
    text-decoration: underline;
}

.hamburger-items {
    display: none;
    position: absolute;
    top: 5.75rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    
    flex-direction: column;
    z-index: 3;
    background-color: white;
    color: var(--background-blue);
    padding-left: 3rem;
}

footer {
    background-color: var(--text-blue);
    padding: 4rem var(--padding);
}

footer .top-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 2rem;
}

footer img {
    height: 8rem;
    width: auto;
}

footer ul {
    list-style: none;
    color: white;
    width: 10rem;
    padding: 0;
}

footer li {
    padding: .25rem;
    cursor: pointer;
}

.social-media {
    padding: 3rem 0;
    text-align: center;
}

footer svg {
    height: 2rem;
    width: auto;
    color: white;
    margin: 0 .25rem;
}

footer .copyright {
    color: white;
    text-align: center;
}

@media screen and (max-width: 1023px) {
    .navigation {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }
}

@media screen and (max-width: 585px) {
    
    header {
        padding-left: 0;
    }
    header svg {
        width: 1.5rem;
        height: 1.5rem
    }
    .select-inputs select {
        width: 8rem;
    }
    .first-descriptions {
        width: 100%;
    }
    .page-description ul {
        width: 100%;
    }
    .form-results ul li:last-child {
        grid-column: 1/2;
    }
}
